body{
    margin: 0;

    text-align: center;
    font-size: large;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);

    background-image: url(/Projets/multigame/Main/images/img_casino.png);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 0;
}

.bienvenue{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-end;
}

.bienvenue img{
    width: 100px;
    height: 100px;
}

.bienvenuBulle{
    width: 350px;
    height: 100px;

    background-image: url(/Projets/multigame/Main/images/bulles/img_bulle_sans_fond.png);
    background-size: 450px 200px;

    padding: 10px 40px 80px 40px;
}

a{
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);

    text-decoration: none;
}


.navbar{
    display: flex;
    flex-direction: row;

    justify-content: center;
    height: 100px;
    align-items: center;

    background: linear-gradient(red, transparent);
    font-size: x-large;
    letter-spacing: 20px;
    padding-left: 20px;
}

.navbar a{
    flex:1;
}

.stack{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 15px;

    align-items: center;

    font-size: large;
    letter-spacing: normal;
}

.stack img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

main{
    margin: 100px 15% 100px 15%;
}

.grilleCard{
    list-style: none;
    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    justify-items: center;
    
}

.card{

    display: 1;
    
    text-align: center;

    margin: 10px;

    width: 400px;
    height: 200px;

    border-radius: 5%;

    background-image: url(/Projets/multigame/Main/images/tablePoker.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.card img{
    width: 25%;
    height: 30%;

    position: relative;
    top: 25%;

    border: double 10px black;
}

.card p{
    position: relative;
    top: 25%;
}