body{
    margin: 0;

    text-align: center;
    font-size: large;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);

    background-image: url(images/img_casino2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

a{
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);

    text-decoration: none;
}


.navbar{
    display: flex;
    flex-direction: row;

    justify-content: center;
    height: 100px;

    background: linear-gradient(red, transparent);
    font-size: x-large;
    letter-spacing: 20px;
    padding-left: 20px;
}

main{
    margin: 100px 15% 100px 15%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.card{

    display: 1;
    
    text-align: center;

    margin: 10px;

    width: 400px;
    height: 200px;

    border-radius: 30%;

    background-image: url(images/tablePoker.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.card img{
    width: 25%;
    height: 30%;

    position: relative;
    top: 25%;

    border: double 10px black;
}

.card p{
    position: relative;
    top: 25%;
}