body{
    margin: 0;

    background-color: rgb(186, 186, 186);
}

.navbar{
    display: flex;
    flex-direction: row;

    justify-content: center;

    height: 100px;

    background: linear-gradient(red, rgb(186, 186, 186));
    color: white;
    font-size: x-large;
}

main{
    margin: 100px 15% 100px 15%;

    border: solid 1px black;
}