body{
    margin: 100px 15% 100px 15%;

    background-color: rgb(186, 186, 186);
}

p{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.PFC{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.img_PFC{
    width: 150px;
    height: 150px;

    display: flex;
    flex-direction: row;

    border-radius: 50%;
    padding: 0 15px 0 15px;
}

.img_PFC:active{
    background-color: gray;
}

.votreMain{
    display: flex;
    flex-direction: column;

    flex: 1;
}

.imagesMain{
    display: flex;
    flex-direction: column;

    
}

.imagesMain1{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.imagesMain2{
    display: flex;
    flex-direction: row;
}

.versus{
    flex: 1;
    text-align: center;
}

#img_VS{
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.mainAdverse{
    flex: 1;
    text-align: center;
}

#img_point_intero{
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

